@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,500;1,200&display=swap');

*{
    font-family: 'WorkSans', sans-serif;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

.img-background {
    content: url(/assets/images/background-pattern-desktop.svg);
}

.img-background {
    position: fixed;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

.flex-container {
    margin: 10% auto 0 auto;
    width: 50vw;
    position: relative;
    z-index: 2;
}

/* the corner of the accordion */
.flex-container {
    border-radius: 5%;
}

.faq {
    margin: 0;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px 30px 0% 0%;
}

.accordion {
    background-color: #eee;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
}

#accordion4 {
    border-radius: 0% 0% 30px 30px;
}
  
.active, .accordion:hover {
    background-color:;
}


.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}


/** Back ground color  */
body {
    background-color: rgb(238, 225, 250);
}


/* ! so one of my problem is: when i want to make a big change in a whole, i have to manually change just like the FAQs & accordion class */
/* ! should have a class that include the FAQs & accordion */
/* ! ask chatgpt what is the javascript use for the accordion -> learn about it */


/* ! my faqs is out of the container
! the "How can i get help.... -> they are out of order, ask chatgpt to fix it"
! the 'plus' and 'minus' in accordion needs to be fixed as well.
! need to check the javascript -> as i dont understand what is the use of all the javascript in the script.js
*/